<h1 class="jumbotron">Pictures#index</h1>
<p>Find me in app/views/pictures/index.html.erb</p>

<div id="camera-container">
  <%= headshot_default_config(Rails.application.config.session_options[:key], headshot_capture_path) %>

  <%= headshot_camera %>

  <br/><br/>

  <%= headshot_snap_button('Shoot', id:'shoot-button') %>
</div>

<%if params["session_key_name"] %>
  <%= params["session_key_name"] %>
<% end %>

<div id="latest-picture-container" class="hidden">
  <%= button_to "Emojify", {controller: "pictures", action: "get_emotion"}, id:'emojify' %>
</div>
